.main-menu-home{
    height: 100vh;
    width: 100vw;
    background-color: #343348;
    display: flex;
    flex-direction: column;
}

.main-menu-home > .bankId-user-home{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.main-menu-home > .bankId-user-home > button{
    background-color: #614ad9;
    color: white;
    padding: 8px;
    margin-bottom: 20px;
    max-height: 100%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.main-menu-home > .bankId-user-home > button > svg{
    margin-left: 10px;

}

.main-menu-home > header{
    background-color: #614ad9;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: white;
    border-radius: 0px 0px 10px 10px;
}

.main-menu-home > header > p{
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(91, 38, 160);
    padding: 10px;
    text-align: center;
}

header > .title-userData-home{
    font-size: 1.2rem;
    color: #614ad9;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Archivo Black', sans-serif;
}

.main-menu-home > .home-balance {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-menu-home > .home-balance > span{
    color: white;
    font-size: 1.5rem;
    font-family: 'Archivo Black', sans-serif;
    
}
.main-menu-home > .home-transfer-history{
    background-color: #2a2a3a;
    width: 95%;
    border-radius: 20px;
    display: flex;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;

    
}

.main-menu-home > .home-transfer-history > span{
    color: white;
    padding: 20px;
    opacity: 0.5;
    text-align: center;
}



.nav-home-transfer{
    height: 10vh;
    width: 90%;
    background-color: #4e4c6b;
    display: flex;
    border-radius: 40px;
    margin: 10px auto;
    justify-content: space-around;
}

.nav-home-transfer > button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px;
    color: white;
    max-width: 20%;
}

.nav-home-transfer > button:focus {
    background-color: #614ad9;
    transition: all .2s;
  }


.header-no-login{
    display: flex;
    background-color: #614ad9;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 9vh;
}

.main-no-login{
    background-color: #2a2a3a;
    height: 91vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-no-login > h1{
    color: white;
    font-size: 2rem;  
    font-family: 'Archivo Black', sans-serif;
    margin: 20px;
    max-width: 60%;
    text-align: center;
}

.main-no-login > a{
    background-color: #614ad9;
    color: white;
    text-align: center;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

.div-transaccion-history-indi{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 90%;
    background-color: #3e3e55;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
}
.p-green{
    color: rgb(6, 121, 6);
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(100, 177, 100);
}

.p-red{
    color: rgb(121, 6, 6);
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(177, 100, 100);
}